
@font-face {
    font-family: 'SemiCoder';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/Semi-Coder-Regular.otf');
}

@font-face {
    font-family: 'Aesymatt';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/aesymatt.ttf') format('truetype');
}

@font-face {
    font-family: 'Fipps';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/fipps-regular-webfont.woff');
}

@font-face {
    font-family: 'Fipps-Filled';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/fippsfilled-regular-webfont.woff');
}

@font-face {
    font-family: 'Wide-Pixel';
    font-style: normal;
    font-weight: normal;
    src: url('../../fonts/wide_pixel-7.ttf') format('truetype');
}
