
$color-black-main: #111111;
$color-gray-main: #777777;

$color-green-main: #003B00;
$color-green-light: #008F11;
$color-green-lightest: #00FF41;

$font-semi-coder: 'SemiCoder', sans-serif;
$font-aesymatt: 'Aesymatt', sans-serif;
$font-fipps: 'Fipps', sans-serif;
$font-fipps-filled: 'Fipps-Filled', sans-serif;
$font-wide-pixel: 'Wide-Pixel', sans-serif;
$font-minecraftia: 'Minecraftia', sans-serif;
